html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.fa {
  padding-right: 3px;
}

.header {
  height: 30px;
}

.footer {
  height: 60px;
}

a, a:hover, a:active, a:visited {
  color: rgba(12, 144, 254, 1);
}

.skills-container {
  margin-top: 40px;
}

.name-container {
  margin-top: 50px;
}

.star {
  height: 20px;
  width: 20px;
  background-size: contain;
  background: url("../img/star.png") no-repeat;
  display: inline-block;
}

.star.half-star {
  background: url("../img/half-star.png") no-repeat;
}

.star.empty-star {
  background: url("../img/empty-star.jpg") no-repeat;
  background-size: contain;
}

.social-icon {
  height: 40px;
  border-radius: 50%;
}

.email {
  margin: 0 15px;
}

.introduction {
  padding: 10px;
}

/*________________________________________________________*/
/*           Photo
/*________________________________________________________*/

.profile-pic-container {
  padding: 10vh;
  text-align: center;
}

.profile-pic-container .profile-pic {
  height: 165px;
  width: 165px;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
  background: url('../img/7.jpg') no-repeat -2px -70px;
}

/********************************************/
/*         Reusable classes
/********************************************/
.full-height-section {
  min-height: 100vh;
  /*min-height: 700px;*/
  height: auto;
  /*height: 100vh;*/
  border-bottom: 1px solid #ddd;
}

.checkmark {
  display: inline-block;
}

.checkmark:after {
  /*Add another block-level blank space*/
  content: '';
  display: block;
  /*Make it a small rectangle so the border will create an L-shape*/
  width: 7px;
  height: 14px;
  /*Add a white border on the bottom and left, creating that 'L' */
  border: solid #000;
  border-width: 0 2px 2px 0;
  /*Rotate the L 45 degrees to turn it into a checkmark*/
  transform: rotate(45deg);
}

/********************************************/
/*         Typed section
/********************************************/

#typed-intro {
  position: relative;
}

.typed-intrdocution-container {
  text-align: center;
  min-height: 100px;
}

.typed-intrdocution-container .greeting {
  margin-top: 5vh;
}

.typed-intrdocution-container .typed-cursor {
  display: none;
}

/********************************************/
/*            ANIMATED DOWN ARROW
/********************************************/
.down-arrow-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.down-arrow-container .learn-more,
.down-arrow-container .learn-more:hover,
.down-arrow-container .learn-more:active,
.down-arrow-container .learn-more:visited {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

@keyframes chevron-pulse {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.down-arrow-container .tcon-svgchevron {
  height: 40px;
  width: 40px;
}

.down-arrow-container .tcon-svgchevron path {
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: #000;
  stroke-width: 1px;
}

.down-arrow-container .tcon-svgchevron path.a1 {
  animation-delay: 0s;
}

.down-arrow-container .tcon-svgchevron path.a2 {
  animation-delay: -.5s;
}

.down-arrow-container .tcon-svgchevron path.a3 {
  animation-delay: -1s;
}

/********************************************/
/* About section                           */
/*******************************************/

#about {
  /*background: rgba(12, 144, 254, 1);*/
  background: #2b2b2b;
  color: white;
}

#about .hero-name-intro {
  padding: 0 0 25px 0;
}

#about .img-vertical {
  width: 100%;
}

#about .about-information,
#about .about-photo {
  padding-top: 5%;
}

#about .about-text {
  font-size: 100%;
  padding: 10px;
}

/********************************************/
/* Skills section                          */
/*******************************************/

#skills .skill-list {
}

#skills .skill-list .skill-item {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 100px;
  background: white;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-size: 120%;
  border: 1px solid #7b7b7b;
  cursor: pointer;
  padding: 0;
  margin: 10px auto;
}

#skills .list-group-item {
  border: none;
}

#skills .list-group-item .checkmark {
  padding-right: 10px;
}

/********************************************/
/* Contact section */
/*******************************************/

#contact {
  /*background: #f9f9f9;*/
  background: #fff;
}

#contact .contact-header {
  color: #2b2b2b;
}

#contact .contact-form {
  margin-top: 10%;
}

#contact .contact-form .form-control,
#contact .contact-form .btn {
  border-radius: 5px;
  height: 50px;
  font-size: 130%;
  color: #000;
  /*border: 1px solid black;*/
  border: 1px solid #7b7b7b;
}

#contact .contact-form textarea.form-control {
  height: 100px;
  width: 100%;
  resize: vertical;
}

#contact .contact-form .btn-default:hover {
  background: #2b2b2b;
  color: white;
}

#contact .contact-form label {
  /*color: rgba(0, 0, 0, 0.8);*/
  color: #7b7b7b;
  font-size: 120%;
  display: block;
}

#contact .contact-form label small {
  float: right;
  color: #aaa;
}

/********************************************/
/* Footer section */
/*******************************************/

#footer {
  background: #000;
  min-height: 100px;
  padding: 10px;
}

/********************************************/
/* Navigation section */
/*******************************************/

#site-nav .nav-link {
  border-right: 1px solid #b2b2b2;
  height: 40px;
}

#site-nav .nav-link:hover,
#site-nav .nav-link:active {
  /*background: rgba(0,0,0, 0.05);*/
  background: #f9f9f9;
}

#site-nav .nav-link:last-child {
  border-right: none;
}

#site-nav .nav-link .toscroll {
  font-size: 120%;
}

#site-nav .nav-link a {
  /*color: rgba(0, 0, 0, 0.8);*/
  color: #7b7b7b;
  cursor: pointer;
  display: block;
}

#site-nav .nav-link a:hover,
#site-nav .nav-link a:link,
#site-nav .nav-link a:visited,
#site-nav .nav-link a:active {
  text-decoration: none;
}

/*...................................*/


/********************************************/
/* Proect section */
/*******************************************/

#projects {
  background: #f9f9f9;
}

.project-container {
  /*border: 1px solid rgba(0,0,0, 0.5);*/
  border: 1px solid #7b7b7b;
  border-radius: 10px;
  text-align: left;
  background: #fff;
  padding: 10px;
  margin: 10px auto;
}

.project-container .project-name {
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.project-container .tech-used .tech-bubble {
  border: 1px solid #E2E5EB;
  border-radius: 5px;
  background-color: #EDEFF3;
  color: #8697AF;
  font-size: 14px;
  padding: 3px 5px;
  white-space: nowrap;
  text-transform: capitalize;
  margin: 0 5px 5px 0;
  display: inline-block;
}