html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

#resume {
    padding: 15px;
}

#resume .profile-pic {
    height: 100px;
    width: 100px;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
    background: url('../../public/img/resume-pic.jpg') no-repeat -6px -6px;
}

#resume .contact .dot {
    font-size: 7px;
    margin: auto 7px;
    top: -3px;
    position: relative;
}

#resume .content {
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
}

#resume .content .section-heading {
    font-weight: 600;
}

#resume .content .work-ex,
#resume .content .education,
#resume .content .skills {
    margin-top: 10px;
    margin-bottom: 30px;
}

#resume .pill {
    border: 1px solid #E2E5EB;
    border-radius: 5px;
    background-color: #EDEFF3;
    color: #8697AF;
    font-size: 14px;
    padding: 3px 5px;
    white-space: nowrap;
    text-transform: capitalize;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.center-block {
    display: table;
    margin: 0 auto;
}

#resume .h1, h1 {
    font-size: 200%;
}

#resume .h2, h2 {
    font-size: 175%;
}

#resume .h3, h3 {
    font-size: 150%;
}

#resume .h4, h4 {
    font-size: 125%;
    margin: 0 0 5px 0;
}

#resume .h5, h5 {
    font-size: 110%;
}

#resume .h6, h6 {
    font-size: 100%;
}

#resume .color-soft {
    color: rgba(0, 0, 0, 0.8);
}

#resume .color-dark {
    color: rgba(0, 0, 0, 1);
}

#resume .work-ex .list-group-item {
    display: list-item;
    padding: 0.15rem;
    border: 0;
    margin-left: 15px;
}

.fa {
    padding-right: 3px;
}